body{
    margin: 0;
    padding: 0;
    background-color: #afd275;
}

.selfie{
    display:flex;
    justify-content: center;
    align-items: center;
}

.bighead {
    margin-top: 30px;
    width: 100%;
    max-width: 300px;
    border: 5px solid white;
    border-radius: 100%;
}

.selfie img:hover {
    transform: scale(1.0095);
    transition: transform 1.6s ease;
    filter: brightness(1.05);
    box-shadow: 10px 10px 10px rgba(22, 50, 13, 0.805);
    cursor: grab;
}

.section-one{
    display:flex;
    justify-content: center;
    align-items: center;
    border: 5px dashed  #7e685a;
    margin: 3% 10%;
}

.section-one p{
 font-family: "bd-caramel-variable", sans-serif;
 font-variation-settings: "BUBL" 100;
 line-height: 1.6;
 font-size: 25px;
 color: #7e685a;
 text-align: center;
 padding:0 20%;
 text-shadow: 2px 2px 1px #ffffff;
}

  .section-two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c2cad0;
  }

  .section-two p{
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: "BUBL" 100;
    font-size: 40px;
    color: #5a4c43;
    text-align: auto;
  }

  .section-three {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c2cad0;
  }
  
  .img {
    margin: 30px;
    width: 30%;
    margin-left: 130px;
  }
  
  .img img {
    max-width: 70%;
    max-height: 70%;
    border: 5px solid #fff;
  }

  .img img:hover{
  transform: scale(1.0095);
  transition: transform 0.3s ease;
  filter: brightness(1.05);
  box-shadow: 5px 5px rgba(60, 24, 34, 0.737);
  }

  .title{
    font-family: "bd-caramel-variable", sans-serif;
    font-variation-settings: "BUBL" 100;
    color: #5a4c43;
    text-align: auto;
    font-size: 20px;
  }
  


  .contact{
    margin-top: 5%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color:#7e685a;
    min-height: 60px;
   }
   
   .email {
     font-size: 25px;
     border:1px solid  #fff;
     border-radius: 10px;
     text-decoration: none;
     padding:0 8px 2px;
     width: 28px;
     height: 30px;
     cursor: pointer;
     margin: 0 6px;
   }
   
   .email:hover {
     box-shadow: 2px 4px 1px rgba(22, 50, 13, 0.805);
   }
   
   
   .instagram {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 40px;
     border: 1px solid #fff;
     border-radius: 10px;
     text-decoration: none;
     padding: 0;
     width: 42px;
     height: 32px;
     cursor: pointer;
   }
   
   .instagram img {
     width: 40px;
     height: 50px;
   }
   
   .instagram:hover {
     box-shadow:2px 4px 1px rgba(22, 50, 13, 0.805);
   }
 