body {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 9px dotted #fe7773;
}

h3 {
  font-size: xx-large;
  letter-spacing: 1cm;
  color: #fe7773;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-container {
  padding: 0 10%; /* Adjust the padding percentage as needed */
}

body p {
  font-style: italic;
  font-size: larger;
  color: #FFC2C3;
  text-align: center;
  line-height: 1.58;
  margin-top: 25px;
}

body img {
  display: flex;
  text-align: center;
  width: 100%; /* Adjust the width as needed */
  max-width: 12cm; /* Set a maximum width if desired */
  margin-top: 0;
}

img[src="other image/little star.png"]:hover {
  transform: scale(1.10);
  transition: transform 0.3s ease;
}

.back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 10px;
  text-decoration: none;
  padding: 12px 22px;
  background-color: rgb(255, 255, 255);
}

.back-button:hover {
  background-color: rgb(253, 137, 137);
  box-shadow: 0 2px #FFC2C3;
  transform: translateY(2px);
}