body {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 9px dotted #ff0a02e1;
}

.section-five {
  margin-top: 10px;
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.one img:hover,
.two img:hover {
    transform: scale(1.008);
}


.one {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.one img {
  width: 40%;
  height: auto;
  transition: filter 0.3s;
}

.one img:hover {
  filter: brightness(1.19);
}

.section-five .content {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.section-five .content p {
    color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.section-six {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.two {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.two img {
  width: 40%;
  height: auto;
  transition: filter 0.3s;
}

.two img:hover {
  filter: brightness(1.19);
}


.section-six .content2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-six .content2 p {
    color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.section-seven {
  background-color: #000000;
  display: flex;
  justify-content: center;
}
/*for myself understanding ,no need repeat one flexbox*/

.section-seven .content3 {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.section-seven .content3 p {
    color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.section-eight {
  background-color: #000000;
  display: flex;
  justify-content: center;
}
/*for myself understanding, no need repeat two flexbox*/

.section-eight .content4 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-eight .content4 p {
    color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.section-nine {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.section-nine .content5 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-nine .content5 p {
    color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.section-ten {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.section-ten .content6 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-ten .content6 p {
    color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.section-eleven {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.section-eleven .content7 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-eleven .content7 p {
    color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.section-twelve {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

.section-twelve .content8 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-twelve .content8 p {
  color: #ffffff ;
  font-size: medium;
  line-height: 1.5;
}

.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-radius: 10px;
    text-decoration: none;
    padding: 12px 22px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.back-button:hover {
    background-color: rgb(246, 32, 32);
    box-shadow: 0 2px #FFC2C3;
    transform: translateY(2px);
}