body{
    background-color: #000000;
    height: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 9px dotted #fe7773;
  }

h3{
    font-size: xx-large;
    letter-spacing: 1cm;
    color: #fe7773;
    font-weight: 300;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
.text-container{
    padding: 0 200px ;
}

body p{
    font-style: italic;
    font-size: larger;
    color: #FFC2C3 ;
    text-align: center;
    line-height: 1.58;
    margin-top: 25px;  
  }

  body img{
    display: flex;
    text-align: center;
    width: 12cm;
    margin-top: 0;
  }

  img[src="little star.png"]:hover {
    transform: scale(1.05);
}

.back-button-container {
    display: flex;
    justify-content: flex-start;
  }
  
  .back-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    transform: rotate(180deg);
}