body {
margin: 0;
padding: 0;
background-color: #0E0301;
}

header {
 background-color: rgba(217, 50, 21, 0.746);
 min-height: 105px;
 width: 100%;
 position: fixed;
 top: 0;
 z-index: 999;
}

h1 {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: 250;
 font-size: xx-large;
 letter-spacing: 0.3cm;
 color: rgba(238, 221, 221, 0.828);
 text-align: left;
 text-shadow: 4px 4px  #842616;
 margin-left: 7px;
}

.container-navigation {
  list-style-type: square;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: e-resize;
}

.container-navigation li {
  margin-right: 4vw;
  font-family: "kaushan-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: azure;
  padding: 1px 5px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container-navigation a {
 color: white;
 text-decoration: none;
}

.container-navigation :hover{
  transform: scale(1.05);
}


.push {
 margin-left: auto;
}

.section-one {
 margin-top: 121.5px;
 min-height: 300px;
 background-image: url("image og background/background1.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

.section-one h2,
.section-one p {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

h2 {
 font-family: "ff-market-web", sans-serif;
 font-weight: 700;
 font-style: normal;
 font-size: 65px;
 letter-spacing: 0.1cm;
 color: #FFC2C3;
 text-shadow:4px 4px rgb(162, 107, 98)
}

p {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: medium;
 font-weight: 600;
 line-height: 1.8em;
 color: #FFC2C3;
 text-align: center;
}

.section-two {
  background-color: #fe7773;
  max-height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px; 
}

.section-two .img:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.section-two img {
  margin: 0 2%;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%; 
  max-width: 250px; 
  border: 1px solid #ffffff;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(186, 6, 6, 0.832);
  cursor: zoom-in;
}


.section-three {
 background-color:#fe7773;
 height: 230px;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;

 background-image: url("image og background/background2.jpeg");
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
}

.section-three figcaption {
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-style: oblique;
 font-weight: 600;
}

.section-three .audio {
 margin-top: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 filter: drop-shadow(1px 4px 6px rgba(0, 0, 0, 0.615));
}

.section-four{
  background-color: #fe7773;
  min-height: 2200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20% 20%;
}

.section-four p{
  font-style: italic;
  font-size: larger;
  font-weight: 550;
  color: #6e1303da;
  text-align: center;
  line-height: 1.58;
  margin-top: 5%;
  padding: 0 20%;
  border: 1px dashed black;
}

h3{
  font-size: xx-large;
  letter-spacing: 1cm;
  color: rgba(0, 0, 0, 0.615);
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.section-four img{
  display: flex;
  text-align: center;
  width: 10cm;
}

.section-four img:hover{
  transform: scale(0.98);
}

.section-five {
  background-color: #FFC2C3;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.one {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  margin-bottom: 20px;
}

.one img {
  width: 40%;
  height: auto;
  transition: filter 0.3s;
}

.one img:hover {
  filter: brightness(1.2);
}

.section-five .content {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.section-five .content p {
  color: black;
  font-size: medium;
  font-weight: 550;
  line-height: 1.5;
}

.section-six {
  background-color: #FFC2C3;
  display: flex;
  justify-content: center;
}

.two {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.two img {
  width: 40%;
  height: auto;
  transition: filter 0.3s;
}

.two img:hover {
  filter: brightness(1.2);
}

.section-six .content2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-six .content2 p {
  color: black;
  font-size: medium;
  font-weight: 550;
  line-height: 1.5;
}

.section-seven {
  background-color: #FFC2C3;
  display: flex;
  justify-content: center;
}
/*for myself understanding ,no need repeat one flexbox*/

.section-seven .content3 {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.section-seven .content3 p {
  color: black;
  font-size: medium;
  font-weight: 550;
  line-height: 1.5;
}

.section-eight {
  background-color: #FFC2C3;
  display: flex;
  justify-content: center;
}
/*for myself understanding, no need repeat two flexbox*/

.section-eight .content4 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-eight .content4 p {
  color: black;
  font-size: medium;
  font-weight: 550;
  line-height: 1.5;
}

.section-nine {
  background-color: #FFC2C3;
  display: flex;
  justify-content: center;
}

.section-nine .content5 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-nine .content5 p {
  color: black;
  font-size: medium;
  font-weight: 550;
  line-height: 1.5;
}

.section-ten {
  background-color: #FFC2C3;
  display: flex;
  justify-content: center;
}

.section-ten .content6 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-ten .content6 p {
  color: black;
  font-size: medium;
  font-weight: 550;
  line-height: 1.5;
}

.section-eleven {
  background-color: #FFC2C3;
  display: flex;
  justify-content: center;
}

.section-eleven .content7 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-eleven .content7 p {
  color: rgb(4, 4, 4);
  font-size: medium;
  font-weight: 550;
  line-height: 1.5;
}

.section-twelve {
  background-color: #FFC2C3;
  display: flex;
  justify-content: center;
}

.section-twelve .content8 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 550;
}

.section-twelve .content8 p {
  color: black;
  font-size: medium;
  line-height: 1.5;
}

.section-thirteen {
  background-color: #FFC2C3;
  height: 70px;
  margin-bottom: 10px;
}

.research {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: none;
}

.research a {
  border: 1px solid rgb(218, 24, 24);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(202, 35, 35, 0.5);
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
}

.research a:hover {
  text-decoration: underline;
  text-decoration-color: #fe7773;
}

.section-fourteen {
  height: 700px;
  margin-top: 80px;
  margin-bottom: 50px;
  padding: 0 200px 200px;
  background-color: #0E0301;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-container {
  margin-top: 190px;
  max-width: 110%;
  max-height: 110%;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0px 20px 20px 20px rgba(145, 143, 143, 0.261);
}

.text-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
  font-size: larger;
  line-height: 1.8;
}

.text-container p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #FFC2C3;
  font-weight: 600;
}

.container {
  display: flex;
  flex-direction: column;
  height: 140vh;
}

.section-fifthteen {
  display: flex;
  flex: 1 1 auto;
}

.box1 {
  flex: 1 1;
  background-color: #fe7773;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.poster-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 80%;
}

.poster-container img {
  margin-top: 20px;
  max-width: 92%;
  max-height: 95%;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.5);
}

.poster-reflection-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster-reflection-container p{
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 0 30px 30px 30px;
  line-height: 1.8;
  color: #7e1604e5;
}

.box2 {
  flex: 1 1;
  background-color: #FFC2C3;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.section-sixteen {
  max-height: 300px;
}

.section-sixteen .image-section {
  position: relative;
}

.section-sixteen .image-section img {
  width: 100%;
  min-width: auto;
  height: auto;
}

.section-sixteen .content-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  flex: 1 1 auto;
}

.section-sixteen .title {
  font-family: "kaushan-script", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  text-shadow: 6px 5px 6px rgb(31, 3, 3);
  margin-bottom: 1%;
  margin-top: 0%;
}

h6{
  margin-top: 0%;
}

.section-sixteen .reference-container {
  text-decoration: none;
  font-size: large;
  text-shadow: 3px 3px 3px rgba(26, 19, 19, 0.5);
  margin-bottom: 10px;
}

.section-sixteen .reference-container ul li a:hover {
  text-decoration: underline;
}

.section-sixteen .reference-container ul {
  list-style: none;
  padding: 0;
}

.section-sixteen .reference-container ul li {
  margin-bottom: 1px;
  font-weight: 500;
}

.section-sixteen .reference-container ul li a {
  color: #fff;
  text-decoration: none;
}

.section-sixteen h6 {
  font-size: small;
  text-shadow: 3px 3px 3px rgba(26, 19, 19, 0.5);
  margin-bottom: 5px;
}

h6{
  cursor: help;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.email {
  font-size: 25px;
  border:1px solid  #fff;
  border-radius: 10px;
  text-decoration: none;
  padding:0 8px 2px;
  width: 28px;
  height: 30px;
  cursor: grab;
}

.email:hover {
  box-shadow: 0 2px #FFC2C3;
}


.instagram {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  border: 1px solid #fff;
  border-radius: 10px;
  text-decoration: none;
  padding: 0;
  width: 42px;
  height: 32px;
  cursor: grab;
}

.instagram img {
  width: 40px;
  height: 40px;
}

.instagram:hover {
  box-shadow: 0 2px #FFC2C3;
}