body {
    background-color: #000000;
    height: 2540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 9px dotted #f01d6a;
}

.flex-section {
    margin-top: 10px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 140px;
    background-color: #0e0000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poster-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; 
}

.poster-container img {
    max-width: 70%;
    max-height: 70%;
}

.poster-reflection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px 30px 30px;
}

p {
    text-shadow: 1px 1px #7da48d;
    font-size: large;
    padding: 0 30px 30px 30px;
    line-height: 1.8;
    color: #b3facb ;
}
