.section-two{
    margin: 20px;
    background-color: lightseagreen;
    padding: 3px 1px 2px 1px;
}

.dark center{
    color: dimgrey;
}

.section-two .container{
    border: 1px solid yellow; 
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;   
    padding: 10px; 
    margin: 0 auto;
 } 

.cake-poster-item{
    width: 250px;

}

footer {
    background-color:dimgrey;
    
}  

.disclaimer {   
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
} 